body{
    background-color: lightyellow;
}

.ali{
    border: 1px solid black;
    height: 70px;
}
.Output{
    border: 1px solid black;
    height: 50px;
}
.aaa{
    border: 1px solid black;
    height: 50px;
}